<template>
  <div class="home">
    <button @click="getMarkers" class="getmarker">Obtener Marcadores</button>
    <l-map
      :zoom="zoom"
      :center="center"
      :options="mapOptions"
      @update:center="centerUpdate"
      @update:zoom="zoomUpdate">
      <l-tile-layer :url="url" :attribution="attribution" />
      <l-control-zoom position="bottomright"  ></l-control-zoom>
      <l-geo-json
        v-if="show"
        :geojson="geojson"
        :options-style="styleFunction"
        @click="addMarker"
      >
      </l-geo-json>
      <div v-for="(marker, index) in markers" :key="index">
        <l-circle
          :lat-lng="[marker.lat, marker.lng]"
          :radius="marker.circle.radius"
          :weight= 2
          :color="'#ffffff'"
        />
        <l-marker
        :lat-lng="marker">
          <l-popup>
          <div class="content">
            <div class="left">
              <form>
                <div class="form-row">
                  <p>Muestras</p>
                  <input type="text" v-model="marker.sample" v-numeric-only>
                </div>
                <div class="form-row">
                  <p>Radio(m)</p>
                  <input type="number" v-model="marker.radio" v-numeric-only
                    @input="marker.circle.radius = (marker.radio === '')?
                    0: parseInt(marker.radio)"
                  >
                </div>
              </form>
            </div>
            <div class="right">
              <div class="remove" @click="removeMarker(index)">borrar</div>
            </div>
          </div>
        </l-popup>
        </l-marker>
      </div>
    </l-map>
  </div>
</template>

<script>

import { latLng } from 'leaflet';
import {
  LMap, LTileLayer, LMarker, LGeoJson, LControlZoom, LPopup, LCircle,
} from 'vue2-leaflet';


export default {
  name: 'home',
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LControlZoom,
    LMarker,
    LPopup,
    LCircle,
  },
  data() {
    return {
      show: true,
      enableTooltip: false,
      currentCenter: latLng(-14.009451237674554, -75.8030213532038),
      currentZoom: 11.5,
      mapOptions: {
        zoomSnap: 0.5,
        zoomControl: false,
      },
      zoom: 18,
      center: [-14.009451237674554, -75.8030213532038],
      geojson: null,
      fillColor: '#ffffff54',
      url: 'https://api.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWJvdWNoYXVkIiwiYSI6ImNpdTA5bWw1azAyZDIyeXBqOWkxOGJ1dnkifQ.qha33VjEDTqcHQbibgHw3w',
      attribution: '&copy; Raptor View',
      marker: latLng(-14.009451237674554, -75.8030213532038),
      markers: [],
    };
  },
  computed: {
    styleFunction() {
      const { fillColor } = this;
      return () => ({
        weight: 2,
        color: '#ffffff',
        opacity: 1,
        fillColor,
        fillOpacity: 1,
      });
    },
  },
  created() {
    /*
    this.$backend.$fetchGeo().then((response) => {
      this.geojson = response;
    });
   */
    this.geojson = {
      crs: {
        type: 'name',
        properties: {
          name: 'EPSG:4326',
        },
      },
      setup: {
        cartography: {
          unit_name: 'lote',
          id: 442,
          name: 'Cartograf\u00eda de lote',
        },
        data_type: 'int',
        variable_group: null,
        inverted_legend: false,
        real_setup: true,
        variable: {
          category: 'Producci\u00f3n',
          name: 'Produccion',
          requires_time: false,
        },
        measurement_unit: 'Kg',
        display_total_in_dashboard: true,
        legend: [
          10.0,
          20.0,
          25.0,
        ],
      },
      type: 'FeatureCollection',
      features: [
        {
          geometry: {
            type: 'Polygon',
            coordinates: [
              [
                [
                  -75.80318792584497,
                  -14.010508830892729,
                ],
                [
                  -75.80357604197151,
                  -14.010098485803613,
                ],
                [
                  -75.80341123599916,
                  -14.008264647434418,
                ],
                [
                  -75.80337347726918,
                  -14.00830884788491,
                ],
                [
                  -75.8032888725298,
                  -14.00845576747385,
                ],
                [
                  -75.80314660182964,
                  -14.00875662139284,
                ],
                [
                  -75.80301632487944,
                  -14.008850357467912,
                ],
                [
                  -75.80283545211566,
                  -14.008914402120103,
                ],
                [
                  -75.80272291099085,
                  -14.009033547353713,
                ],
                [
                  -75.80266265796831,
                  -14.009107336060822,
                ],
                [
                  -75.80255993524152,
                  -14.009115853708527,
                ],
                [
                  -75.80185152559181,
                  -14.009703043588672,
                ],
                [
                  -75.80228836137502,
                  -14.009679340032271,
                ],
                [
                  -75.80222537770697,
                  -14.010590959989404,
                ],
                [
                  -75.8026809899508,
                  -14.010567922073863,
                ],
                [
                  -75.80318792584497,
                  -14.010508830892729,
                ],
              ],
            ],
          },
          type: 'Feature',
          properties: {
            values: [
              {
                measurement_unit: 'Kg',
                date_stamp: '2017-10-16',
                value: 15,
                time_stamp: '00:00:00',
              },
            ],
            unit: {
              state: {
                area: 2.4907858163,
                year_of_planting: [
                  '2016',
                ],
                variety: [
                  'tango 1',
                ],
              },
              metadata: [
                {
                  level_name: 'lote',
                  name: '46',
                  level: -1,
                },
              ],
              name: 46,
              full_name: 'lote 46',
              id: 35023,
            },
          },
        },
      ],
    };
  },
  methods: {
    getMarkers() {
      const markers = [];
      this.markers.forEach((item) => {
        const marker = {
          position: {
            latitude: item.lat,
            longuitude: item.lng,
          },
          radio: item.circle.radius,
          num_samples: item.sample,
        };
        markers.push(marker);
      });
      /* eslint no-console: "error" */
      // eslint-disable-next-line no-console
      console.log(markers);
    },
    removeMarker(index) {
      this.markers.splice(index, 1);
    },
    addMarker(event) {
      const marker = {
        lat: event.latlng.lat,
        lng: event.latlng.lng,
        radio: '',
        sample: '',
        circle: {
          radius: 0,
          color: 'red',
        },
      };
      this.markers.push(marker);
    },
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
    },
  },
};
</script>

<style lang="scss">
  .home{
    position: absolute;
    overflow-x: auto;
    top: 0;
    margin-top: 5%;
    padding-top: 60px;
    width: 90%;
    height: 80%;
    right: 0;
    left: 5%;
    bottom: 5%;
  }
  .leaflet-popup{
    .leaflet-popup-content-wrapper{
      background: #e6e6e6;
      border: 2px solid #bbb9b9;
      .leaflet-popup-content{
        margin: 10px;
        .form-row{
          margin-bottom: 5px;
          &:last-child{
            margin-bottom: 0;
          }
          p{
            font-size: 15px;
            margin: 0;
            font-family: 'Helvetica';
            font-weight: lighter;
            color: #737171;
          }
          input{
            border: 1px solid #bbb9b9;
            border-radius:5px;
            text-align: center;
            max-width: 80px;
            margin-left: 13px;
          }
          font-size: 12px;
        }
      }
    }
  }
  .getmarker{
    border: none;
    padding: 10px 16px;
    background: #0187ff;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 10px;
    color: #ffff;
    font-size: 13px;
    outline: none;
  }
  .content{
    display: flex;
    .left{
      border-right: 1px solid #bbb9b9;
      padding-right: 10px;
      margin-right: 10px;
    }
    .right{
      display: flex;
      align-items: center;
      .remove{
        cursor: pointer;
        font-weight: bold;
      }
    }

    .form-row{
      display: flex;
      justify-content: space-between;
    }
  }
</style>
